/* 
font name: Rounded_Elegance
font link: https://www.dafont.com/rounded-elegance.font
Slogan Font: Rounded_Elegance        
{"bg":"#EDF2F3","icon-gradient-0":"#20484F","icon-gradient-1":"#4E9BAB","font":"#12262A","slogan":"#263a3e"}
       */

body,
html {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: RoundedElegance;
  src: url(assets/rounded_elegance/Rounded_Elegance.ttf);
}

/* HEADER */
header {
  background-image: url("assets//ConsolaniAguaDulce/vector/default.svg");
  background-size: 100%;
  background-position: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 450px;
  padding: 3rem 1rem;
}

header a {
  font-family: RoundedElegance;
  font-weight: 600;
  text-decoration: none;
  color: #12262a;
  border-radius: 10px;
  box-shadow: #263a3e28 0px 0px 4px;
  text-transform: uppercase;
  padding: 0.8em 1em;
}

header a:hover {
  box-shadow: #263a3e9f 0 0 10px;
}

nav ul {
  margin-bottom: 10px;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

/* RESPONSIVE RULES */
@media screen and (max-width: 700px) {
  header {
    height: 200px;
  }
}
@media screen and (max-width: 970px) {
  header {
    height: 250px;
  }
}

/* FEATURES */

.features {
  box-shadow: rgba(128, 128, 128, 0.507) 0px 0px 10px 1px;
  background: #edf2f3;
  color: grey;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.features figure {
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  padding: 10px;
  width: 300px;
}

.features figure img {
  border: 1px solid white;
  border-radius: 50%;
  width: 300px;
  box-shadow: grey 0 0 10px;
  margin-bottom: 10px;
  transition: all 0.5s ease;
}

.features figure img:hover {
  transform: scale(1.5);
}

.videos {
  box-shadow: rgba(128, 128, 128, 0.507) 0px 0px 10px;
  background: #edf2f3;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 1rem;
}

.fb-video {
  margin: 10px;
}

/* FOOTER */

footer {
  background: black;
  padding: 10px 20px;
  text-align: center;
  font-size: 12px;
  color: grey;
}
