body {
  background-color: rgb(255, 255, 255);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: RoundedElegance;
  src: url(assets/rounded_elegance/Rounded_Elegance.ttf);
}

/* HEADER */
header {
  background: black;
  background-image: url("assets//ConsolaniAguaDulce/vector/default.svg");
  background-size: 100%;
  background-position: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  height: 450px;
}

header a {
  font-family: RoundedElegance;
  font-weight: 600;
  text-decoration: none;
  color: #12262a;
  border-radius: 10px;
  box-shadow: #263a3e28 0px 0px 4px;
  text-transform: uppercase;
  padding: 10px;
}

header a:hover {
  box-shadow: #263a3e9f 0 0 10px;
}

nav ul {
  margin-bottom: 10px;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

/* RESPONSIVE RULES */
@media screen and (max-width: 700px) {
  header {
    height: 200px;
  }
}
@media screen and (max-width: 970px) {
  header {
    height: 250px;
  }
}

/* FEATURES */

.features {
  background: white;
  color: grey;
  padding: 20px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.features figure {
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  padding: 10px;
  width: 200px;
}

.features figure img {
  border: 1px solid white;
  border-radius: 50%;
  width: 200px;
  box-shadow: grey 0 0 10px;
  margin-bottom: 10px;
}

/* FOOTER */

footer {
  background: black;
  padding: 10px 20px;
  text-align: center;
  font-size: 12px;
  color: grey;
}
